.home{
    background-color: azure
}
.home img {
    margin-left: 850px;
    width: 200px;
    height: 200px;
}
h2{
     margin-left: 350px;
}

.home3{
    display: flex;
    flex-direction: column;
    margin-left: 1150px;
    margin-bottom: 200px;
}

div .home1{
     
    
    margin-left:140px;
    background-color: azure;

}
.home .home2{
    display: flex;
    flex-direction: column;
    margin-left: 18opx;
    width: 152px;
    margin-top: -372px;
    margin-left: 852px
    
}
